<h2>All Albums</h2>


<% @albums.each do |album| %>
<article class = "all_albums">
  <h3>
    <%= album.name %></h3>

  <!-- Links to all photos in single album -->
  <a href = "/albums/album_id"></a>

    <!-- Custom method in model...use uploader process method -->
    <!--  <img src = "/albums/album_id/<%= album.photos.first %>"/> -->
  <% if album.description != nil %>
  <p>Description: <%= album.description %></p>
  <% end %>

  <% album.photos.each do |photo| %>
  <a href=<%= "#{album.name}/" %>><img src=<%= photo.image %>></a>
  <% end %>


</article>

<% end %>
