<article class = "single_album">
  <a href=<%= " #{ "/" + @user.username + "/" + @album.url}" %>>
    <h3><%= @album.name %></h3></a>
  <% if @album.description != nil %>
  <p>Description:<%= album.description %></p>
  <% end %>

  <% @album.photos.each do |photo| %>
  <a href=<%= "#{ "/" + @user.username + "/" + @album.url+ "/" + photo.url}" %>
    >
    <img src=<%= photo.image %>></a>
  <% end %>
</article>


